
$ft:25px;


.test1 {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    font-size: $ft;
  }
}

#test2 {
  article {
    h1 { color: #333 }
    p { margin-bottom: 1.4em }
  }
  #content aside { background-color: #EEE }
}

.test3 a {
  color: blue;
  &:hover{ color: red }
}

.test4 {
  h1, h2, h3 {margin-bottom: 8px;}
}


.test5 {
  border: {
    style: solid;
    width: 1px;
    color: #ccc;
    radius: $ft $ft $ft $ft;
  }
}

.test6 {
  padding: {
    left:$ft;
    right: $ft;
  }
}